extends ./layout/index

block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in dignissim massa. Duis lobortis feugiat orci ut consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vulputate metus quis dignissim pellentesque. In hac habitasse platea dictumst. Quisque eget urna molestie, sagittis ligula in, tempus urna. Nulla facilisi. Donec a tempor augue, ut feugiat metus.

                p Pellentesque id elit accumsan, vulputate velit non, consectetur neque. Nunc facilisis scelerisque felis sed feugiat. Sed semper eleifend nibh non scelerisque. Aenean vel orci in risus lobortis egestas. Fusce molestie libero dui, id porta nisi condimentum in. Curabitur dictum interdum sagittis. Maecenas faucibus, dolor ut ornare dictum, risus massa consectetur sem, vel placerat ligula lacus vestibulum arcu. 

                p Donec urna sapien, consequat ut felis ut, aliquam pulvinar elit. Donec placerat sagittis sapien sed ultrices. Praesent eget sodales orci, ut posuere neque. Nunc metus ipsum, porttitor at placerat sed, porttitor vel neque. Morbi eget lobortis dui. Morbi consequat ipsum ac arcu condimentum, id hendrerit erat placerat. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in dignissim massa. Duis lobortis feugiat orci ut consequat. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in dignissim massa. Duis lobortis feugiat orci ut consequat. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in dignissim massa. Duis lobortis feugiat orci ut consequat. 